// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default; //light
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #4F4F4F !default; //secondary gray
$gray-700: #495057 !default;
$gray-800: #343a40 !default; //dark gray-dark
$gray-900: #4F4F4F !default; //body-color
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #1A3C70 !default; //primary
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E11F3B !default; //danger
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default; //warning
$green:   #28a745 !default; //success
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default; //info